<div class="body_container_inside">
<% if @kinds.empty? %>
  <p>There are no Characters available</p>
<% else %>
    <% @kinds.each do |kind| %>
      <%= link_to kind_path(kind), :class => "bodyLink" do%>
        <div class="card">
          <div class="content content_character">
            <%= kind.name %>
          </div>
        </div>
      <% end%>
    <% end %>
<% end %>
</div>
