// Place all the styles related to the planets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.cards_planet {
  width: auto;
  height: auto;
}

.characters_in_planet {
  margin: 10px;
  padding: 5px;
  width: 200px;
}

.kinds_in_planet {
  margin: 10px;
  padding: 5px;
  width: 200px;
}
a {
  text-decoration: none;
}

.body_container_inside {
  height: auto;
}