<div class="body_container_inside">
<% if @starships.empty? %>
  <p>There are no Characters available</p>
<% else %>
    <% @starships.each do |starship| %>
      <%= link_to starship_path(starship), :class => "bodyLink" do%>
        <div class="card">
          <div class="content content_character">
            <%= starship.name %>
          </div>
        </div>
      <% end%>
    <% end %>
<% end %>
</div>